@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

caption{
    font-size: 1.2em;
    font-weight: bolder;
    background-color: lightgray;
    padding: 5px;
    border: 2px solid black;
    text-shadow: 1px 1px 5px #00000059;

}

table{
    width: 400px;
    border-collapse: collapse;
    margin: auto;
    box-shadow: 0px 0px 8px #00000083;
}

tbody > tr:nth-child(even) {
    background-color: lightgray;
}

.head{
    background-color: lightgray;
    border: 2px solid black;
    box-shadow: inset 1px 1px 2px #00000081;
    padding: 3px;
    text-shadow: 1px 2px 5px #00000046;
    font-size: 1.1em;
}

td{
    border: 2px solid gray;
    padding: 2px;
    padding-left: 4px;
}
tfoot, .foot{
   background-color: #ff6c6c;
   border: 2px solid gray;
}

.num, .numfoot{
    text-align: right;
    padding-right: 4px;

}