@charset "UTF-8";

html,body{
    margin: 0;
    padding: 0;
    font-size: 4vw;
}

header{
    text-align: center;
    background-color: black;
    color: white;
}

header > h1{
    margin: 0;
    padding-top: 30px;
    font-size: 3em;
}

header > a{
    color: white;
    text-decoration: none;
}

header > a:hover{
    text-decoration: underline;
}

header > a > p{
    margin: 0;
    padding-bottom: 30px;
}

section > p{
    line-height: 1.5em;
    padding-left: 10px;
    
    
}

.imagem00{

    background-image: url(./imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 10px black;
}

.imagem01{
    background-image: url(./imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 10px black;
}
.imagem00 > p, .imagem01 > p{
    background-color: #5050507a;
    display: inline-block;
    margin-left: 5px;
    padding: 10px;
    text-shadow: 2px 2px 5px #00000085;
}
