<!-- templates/dados_encontrados.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados Encontrados</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
          p{
            font-size: 1em;
            font-weight: bolder;
        }
        div{
            border: 3px solid black;
            padding: 5px;
        }
        button{
            font-size: 1.2em;
        }
        </style>
</head>
<body>
    <h1>Dados Encontrados</h1>

    {% if dados_motor_trif %}
        {% for motor in dados_motor_trif %}
                <div>
                    <p>Marca Motor: {{ motor[2] }}</p>
                    <hr>
                    <p>Potência: {{ motor[3] }}</p>
                    <hr>
                    <p>Modelo: {{ motor[4] }}</p>
                    <hr>
                    <p>Voltagem: {{ motor[5] }}</p>
                    <hr>
                    <p>Amperagem: {{ motor[6] }}</p>
                    <hr>
                    <p>Rotação: {{ motor[7] }}</p>
                    <hr>
                    <p>Pacote:{{ motor[8] }}</p>
                </div>
                <div>
                    <p>Bobina/Grupo: {{ motor[9] }}</p>
                    <hr>
                    <p>Grupo/fase: {{ motor[10] }}</p>
                    <hr>
                    <p>Camada: {{ motor[11] }}</p>
                </div>
                <div>
                    <p>Passe: {{ motor[12] }}</p>
                    <hr>
                    <p>Espiras: {{ motor[13] }}</p>
                    <hr>
                    <p>Fio: {{ motor[14] }}</p>
                </div>
                <div>
                    <p>Ligação: {{ motor[15] }}</p>
                </div>
        {% endfor %}
        <form action="{{ url_for('index') }}" method="get">
            <button type="submit">Ir para página principal</button>
        </form>
    {% else %}
        <p>Nenhum dado encontrado.</p>
    {% endif %}
</body>
</html>
